.mui-btn-danger, .mui-btn-negative, .mui-btn-red {
    color: #fff;
    border: 1px solid #D8320B;
    background-color: #D8320B;
}
.flexd_top{
	padding:20px 15px;
	
}
.flexd_top a.mui-icon-back{
 	font-size: 34px;
 	color:black !important;	
}

.logo{
	width:100%;
	padding:15px 40px 50px 40px;
	text-align: center;
	/*background:none;*/
}
.logo img{
	width:30%;
}
.mui-btn-block {
	width:90% !important;
	margin:0 auto;
	border-radius: 10px;
    padding: 5px 0 !important;
}
.mui-input-group {

     background-color: transparent; 
}
.mui-input-row label {
    /*font-family: 'Helvetica Neue',Helvetica,sans-serif;
    line-height: 1.1;
    float: left;*/
    width: 17%;
    padding: 28px 15px 14px 15px;
}
.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea {
    /*float: right;*/
    width: 83%;
    /*margin-bottom: 0;
    padding-left: 0;
    border: 0;*/
}
.mui-input-group .mui-input-row {
    height: 40px;
}
 input[type=password],input[type=text]{
    /*line-height: 21px;
    width: 100%;*/
    height: 40px;
 /*   margin-bottom: 15px;*/
    padding-top: 14px;
    padding-left:55px;
    font-size: 14px;
    /*-webkit-user-select: text;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    outline: 0;
    background-color: #fff;
    -webkit-appearance: none;*/
}
 input[type=text]{
 	background-image:url(../images/img_user.png) !important;
 	background-repeat: no-repeat;
 	background-position: 27px 12px;
 	background-size: 17px;
 
 }
 input[type=password]{
 	background-image:url(../images/img_possword_again.png) !important;
 	background-repeat: no-repeat;
 	background-position: 27px 12px;
 	background-size: 17px;
 
 }
.mui-input-group .mui-input-row:after {
    right: 30px;
    left: 30px;
}
.mui-input-group:before {

     background-color: transparent; 
}

.mui-input-group:after {

     background-color: transparent; 
}


/*忘记密码以及注册*/
.register{
	display: flex;
	justify-content: space-between;
	padding:20px 30px;
}
.register a{
	color:#A1A1A1;
}
/*用户提示信息*/
.user_message{
	padding-left:50px;
	font-size: 12px;
	height:21px;
	line-height: 21px;
	display:table-cell;
}
.user_message img{
	vertical-align:top;
}